.sidebarstyle {
  margin-left:15px;
  margin-right:15px;
  min-width: 250px;
  max-width: 250px;
}

.mainbarstyle {
  margin-left:15px;
  margin-right:15px;
  min-height: 550px;
}

.container
{
  text-align: center;
  padding: 15px;  
}

.left-div
{
  display: inline-block;
  max-width: 10%;
  min-width: 10%;
  text-align: left;
  padding: 30px;
  background-color: #555555;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  min-width: 70%;
  max-width: 70%;
  text-align: left;
  padding: 30px;
  background-color: #555555;
  border-radius: 3px;
  margin: 15px;
}

@media screen and (max-width: 1320px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}