.sidebarstyle {
  margin-left:15px;
  margin-right:15px;
  max-width: 250px;
  min-width: 250px;
  overflow: visible;
}

.mainbarstyle {
  margin-left:15px;
  margin-right:15px;
  min-height: 1050px;
}

body
{
  background-color: #fcfcfc;
}
.container
{
  text-align: center;
  padding: 15px;  
}
.left-div
{
  display: inline-block;
  max-width: 10%;
  min-width:10%;
  text-align: left;
  padding: 30px;
  background-color: #555555;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  min-width: 70%;
  max-width: 70%;
  text-align: left;
  padding: 30px;
  background-color: #555555;
  border-radius: 3px;
  margin: 15px;
}

@media screen and (max-width: 1320px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}

/* @media screen and (max-width: 434px) {
  table {
    width: 70vw;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
  }
} */