<div class="inputstyle" align="center">
    <button *ngIf="show" mat-icon-button color="primary" (click)="left()"><mat-icon>chevron_left</mat-icon></button>
    <mat-form-field>
        <input type="text" placeholder="Ability Name Or ID" (keyup.enter)="enter()" (focus)="onFocus()" (blur)="onBlur()" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button style="margin-left: 1%" (click)="enter()" mat-raised-button color="primary" [disabled]="!this.myControl.value">Search</button>
    <button *ngIf="show" mat-icon-button color="primary" (click)="right()"><mat-icon>chevron_right</mat-icon></button>
</div>

<div class="container" *ngIf="show">
    <h1>{{abilityname}}</h1>
    <div class="left-div left-text mat-elevation-z10">
        <h2>Base Statistics</h2><br>
            <b>ID: </b>#{{abilityid}} <br>
            <b>Introduction: </b>{{abilitygeneration}} <br>
            <b>Main Series Ability: </b>{{(abilitymainseries ? 'Yes' : 'No')}}<br><br>
            <mat-divider></mat-divider>

            <h2>Description and Effect</h2>
            <ng-container *ngIf="abilityflavors[0].language.name == 'en'"><i>{{abilityflavors[0].flavor_text}}</i></ng-container>
            <ng-container *ngIf="abilityflavors[1].language.name == 'en'"><i>{{abilityflavors[1].flavor_text}}</i></ng-container>
            <ng-container *ngIf="abilityflavors[2].language.name == 'en'"><i>{{abilityflavors[2].flavor_text}}</i></ng-container>
            <ng-container *ngIf="abilityflavors[3].language.name == 'en'"><i>{{abilityflavors[3].flavor_text}}</i></ng-container>
            <ng-container *ngIf="abilityflavors[4].language.name == 'en'"><i>{{abilityflavors[4].flavor_text}}</i></ng-container><br><br>
            <b>Ability Effects: </b> {{abilityeffect}}<br>
    </div>
    <div class="right-div right-text mat-elevation-z10">
        <h2>Pokémon With Ability</h2>
         <table class="darkTable">
            <thead>
              <tr>
                <th>Pokemon</th>
                <th>Ability Slot</th> 
                <th>Hidden Ability</th>
              </tr>
            </thead>
            <ng-container *ngFor="let pokemon of abilitypokemon">
              <tr>
                <td data-label="Pokemon"><u routerLink="/pokemon/{{pokemon.pokemon.name.toLowerCase().split(' ').join('-')}}">{{titleformat(pokemon.pokemon.name)}}</u></td>
                <td data-label="Ability Slot">{{ pokemon.slot }}</td>
                <td data-label="Hidden Ability">{{ (pokemon.is_hidden ? 'Yes' : 'No')}}</td>
              </tr>
          </ng-container>
          </table>
    </div>
</div>

<div *ngIf="loading" align=center class=specialboxstyle>
    <img src="../../assets/loadingbike.gif" height="300vh" width="300vw"><br>
    Loading...
</div>

<div *ngIf="!searched" align=center class=specialboxstyle>
    <img src="../../assets/morpeko.png" height="300vh" width="300vw"><br>
    Enter an ability name or ID to begin
</div>
      
<div *ngIf="error" align=center class=specialboxstyle>
    <img src="../../assets/sad.png" height="300vh" width="300vw"><br>
    No such ability found
</div>