<div class="inputstyle" align="center">
    <button *ngIf="show" mat-icon-button color="primary" (click)="left()"><mat-icon>chevron_left</mat-icon></button>
    <mat-form-field>
        <input matInput placeholder="Ability Name Or ID" [(ngModel)] = "input" (keyup.enter)="search()">
    </mat-form-field>
    <button class= "searchstyle" (click)="search()" mat-raised-button color="primary" [disabled]="!input">Search</button>
    <button *ngIf="show" mat-icon-button color="primary" (click)="right()"><mat-icon>chevron_right</mat-icon></button>
</div>

<div *ngIf="show" class="infocontainerstyle">
    <h1>{{abilityname}}</h1>
    <mat-drawer-container> 
        <mat-drawer mode="side" opened>
            <div class=sidebarstyle>
                <h2>Base Statistics</h2><br>
                <b>ID: </b>#{{abilityid}} <br>
                <b>Introduction: </b>{{abilitygeneration}} <br>
                <b>Main Series Ability: </b>{{(abilitymainseries ? 'Yes' : 'No')}}<br><br>
                <mat-divider></mat-divider>

                <h2>Description and Effect</h2>
                <ng-container *ngIf="abilityflavors[0].language.name == 'en'"><i>{{abilityflavors[0].flavor_text}}</i></ng-container>
                <ng-container *ngIf="abilityflavors[1].language.name == 'en'"><i>{{abilityflavors[1].flavor_text}}</i></ng-container>
                <ng-container *ngIf="abilityflavors[2].language.name == 'en'"><i>{{abilityflavors[2].flavor_text}}</i></ng-container>
                <ng-container *ngIf="abilityflavors[3].language.name == 'en'"><i>{{abilityflavors[3].flavor_text}}</i></ng-container>
                <ng-container *ngIf="abilityflavors[4].language.name == 'en'"><i>{{abilityflavors[4].flavor_text}}</i></ng-container><br><br>
                <b>Ability Effects: </b> {{abilityeffect}}<br>
            </div>
        </mat-drawer>
        
        <mat-drawer-content>
            <div class=mainbarstyle>
                <h2>Pokémon With Ability</h2><br>
                <table class="darkTable">
                    <thead>
                      <tr>
                        <th>Pokemon</th>
                        <th>Ability Slot</th> 
                        <th>Hidden Ability</th>
                      </tr>
                    </thead>
                    <ng-container *ngFor="let pokemon of abilitypokemon">
                      <tr>
                        <th>{{ titleformat(pokemon.pokemon.name)}}</th>
                        <th>{{ pokemon.slot }}</th>
                        <th>{{ (pokemon.is_hidden ? 'Yes' : 'No')}}</th>
                      </tr>
                  </ng-container>
                  </table>
            </div>
        </mat-drawer-content>
      
    </mat-drawer-container>
</div>

<div *ngIf="!searched" align=center class=specialboxstyle>
    <img src="../../assets/morpeko.png" height="300" width="300" ><br>
    Enter a ability name or ID to begin
</div>
      
<div *ngIf="error" align=center class=specialboxstyle>
    <img src="../../assets/sad.png"height="300" width="300" ><br>
    No such ability found
</div>