.space {
    flex: 1 1 auto;
  }

.linkactive {
  font-weight: bold;
  font-size: medium;
}

.containerstyle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbarstyle {
  position: fixed;
  z-index: 2;
}

.sidenavstyle {
  flex: 1 0 auto;
}