<mat-toolbar color="primary" class="mat-elevation-z10">
    <button mat-button routerLink="/home"><img src="../favicon.ico"><h1 style="display: inline;"> Poképedia </h1><img src="../favicon.ico"></button>
    <button mat-button routerLink="/pokemon">Pokémon</button>
    <button mat-button routerLink="/moves">Moves</button>
    <button mat-button routerLink="/items">Items</button>
    <span class="space"></span>
    <button mat-icon-button (click)="clickgithub()"><mat-icon svgIcon='github'></mat-icon></button>
</mat-toolbar>
<router-outlet></router-outlet>
