/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    background-color: #333333;
    color: lightgray;
}
.basic-container {
    padding: 30px;
}
.version-info {
    font-size: 8pt;
    float: right;
}

.inputstyle {
    margin-top: 15px;
}

.searchstyle {
    margin-left: 15px;
    margin-right: 5px;
}

.infocontainerstyle {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.appearancesstyle {
    margin-left:15px;
    margin-right:15px;
}

.specialboxstyle {
  font-size: 200%;
  padding-top: 100px;
}

table.darkTable {
    font-family: "Arial", Gadget, sans-serif;
    border: 2px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    height: 200px;
    text-align: left;
    border-collapse: collapse;
  }
  table.darkTable td, table.darkTable th {
    border: 3px solid #333333;
    padding: 3px 3px;
  }
  table.darkTable tbody td {
    font-size: 13px;
    color: #E6E6E6;
  }
  table.darkTable thead {
    background: #000000;
    border-bottom: 0px solid #000000;
  }
  table.darkTable thead th {
    font-size: 16px;
    color: #E6E6E6;
    text-align: center;
  }
  table.darkTable tfoot td {
    font-size: 12px;
  }