.landingtextstyle{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 160%;
}

.cardcontainerstyle, .cardstyle {
    margin: 0
}

.cardcontainerstyle {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.cardstyle {
  flex: 1;
  height: 10vh;
  margin: 1%;
  text-align: left;
}

.battlegroundstyle {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

