<div align=center style="font-size:200%; margin-top:150px;">
Our database contains everything you could possibly want to know about Pokémon!
</div>
<div class=boxstyles>
    <mat-card routerLink="/pokemon" class=cardstyles>
        <mat-card-title>Pokémon</mat-card-title>
        <mat-card-subtitle>A pokedex for the browser</mat-card-subtitle>
    </mat-card>
    <mat-card routerLink="/moves" class=cardstyles>
        <mat-card-title>Moves</mat-card-title>
        <mat-card-subtitle>Everything you need for competitive battling</mat-card-subtitle>
    </mat-card>
</div>
<img src="../../assets/pikachu.png" class="pikachustyle">