.cardstyles{
    width:200px;
    height:60px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.boxstyles{
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -390px;
    margin-top: -30px;

}

.pikachustyle{
    position: absolute;
    width:10%;
    height:20%;
    left:50%;
    top:70%;
    margin-left: -85px;
    margin-top: -25px;
}