<div align=center style="font-size:200%; margin-top:150px;">
A database containing everything you could possibly want to know for competitive Pokémon battling!
</div>
<div class=boxstyles>
    <mat-card routerLink="/pokemon" class=cardstyles>
        <mat-card-title>Pokémon</mat-card-title>
        <mat-card-subtitle>A Pokédex for the browser</mat-card-subtitle>
    </mat-card>
    <mat-card routerLink="/moves" class=cardstyles>
        <mat-card-title>Moves</mat-card-title>
        <mat-card-subtitle>Find the perfect movesets for your team</mat-card-subtitle>
    </mat-card>
    <mat-card routerLink="/abilities" class=cardstyles>
        <mat-card-title>Abilities</mat-card-title>
        <mat-card-subtitle>Ever wonder why you couldn't hit Shedinja?</mat-card-subtitle>
    </mat-card>
    <mat-card routerLink="/items" class=cardstyles>
        <mat-card-title>Items</mat-card-title>
        <mat-card-subtitle>From Absolite to Zoom Lens</mat-card-subtitle>
    </mat-card>
</div>
<img src="../../assets/pokemonbattle.png" class="battlegroundstyle">